@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Soft-blue-color: hsl(215, 51%, 70%);
  --Cyan-color: hsl(178, 100%, 50%);
  --Very-dark-blue-color-main: hsl(217, 54%, 11%);
  --Very-dark-blue-color-card: hsl(216, 50%, 16%);
  --Very-dark-blue-color-line: hsl(215, 32%, 27%);
  --White-color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--Very-dark-blue-color-main);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  max-width: 300px;
  padding: 25px;
  margin: 10px;
  box-sizing: border-box;
  background-color: var(--Very-dark-blue-color-card);
  border-radius: 15px;
  overflow: hidden;
}

/*! **********************Image Section************************** */

.card .img-section {
  height: 60%;
  width: 100%;
  background-image: url("images/image-equilibrium.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 1s ease;
}

.img-section:hover::after {
  content: "";
  background: var(--Cyan-color);
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

.card .img-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.img-section:hover img {
  opacity: 1;
  z-index: 2;
}

/*! ***************************Content Section****************************** */

.card .content-section {
  height: 40%;
  margin: 15px 0;
}

.content-section h4 {
  color: var(--White-color);
  margin: 10px 0;
  font-weight: 600;
  cursor: pointer;
}

.content-section h4:hover {
  color: var(--Cyan-color);
}

.content-section p {
  color: var(--Soft-blue-color);
  line-height: 1.5;
  font-weight: 300;
  font-size: 15px;
}

.content-section .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.icons .left-icon h5 {
  color: var(--Cyan-color);
  display: inline-block;
  font-weight: 400;
}

.icons .left-icon {
  display: flex;
  align-items: center;
}

.icons .right-icon h5 {
  display: inline-block;
  font-weight: 400;
}

.left-icon img {
  margin-right: 10px;
}

.icons .right-icon {
  display: flex;
  align-items: center;
  color: var(--Soft-blue-color);
}

.right-icon img {
  margin-right: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--Very-dark-blue-color-line);
  margin: 15px auto;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}

.user img {
  width: 25px;
  background-color: var(--White-color);
  border-radius: 50%;
  padding: 1px;
  margin-right: 20px;
}

.user p {
  font-size: 15px;
  font-weight: 300;
}

.user .user-name {
  font-weight: 400;
  color: var(--White-color);
  cursor: pointer;
}

.user .user-name:hover {
  color: var(--Cyan-color);
}

footer {
  position: absolute;
  bottom: 5px;
}

@media (max-width: 375px) {
  .card {
    transform: scale(0.7);
  }
}